{% extends 'securities/base.html' %}
{% load humanize %}

{% block content %}
<div class="row">
  <div class="col-md-5">
    <table class="table table-striped" id="financial statement">
      {% for item in result %}
      <tr><td>---</td></tr>
      <tr>
        <th colspan="2">
          {{ item }}
        </th>
      </tr>

      <tr>
        <td>Total assets:</td>
        <td class="right">{{ item.total_assets|intcomma }}</td>
      </tr>
      <tr>
        <td>Total current assets:</td>
        <td class="right">{{ item.total_current_assets|intcomma }}</td>
      </tr>
      <tr>
        <td>Total liabilities:</td>
        <td class="right">{{ item.total_liabilities|intcomma }}</td>
      </tr>
      <tr>
        <td>Total current liabilities:</td>
        <td class="right">{{ item.total_current_liabilities|intcomma }}</td>
      </tr>
      <tr>
        <td>Debt:</td>
        <td class="right">{{ item.debt|intcomma }}</td>
      </tr>
      <tr>
        <td>Net income:</td>
        <td class="right">{{ item.net_income|intcomma }}</td>
      </tr>
      <tr>
        <td>Total shares:</td>
        <td class="right">{{ item.total_shares|intcomma }}</td>
      </tr>
      <tr>
        <td>Share price soles:</td>
        <td class="right">{{ item.share_price_soles|intcomma }}</td>
      </tr>
      {% endfor %}
    </table>

  </div><!-- col -->
</div><!-- row -->


{% endblock content %}
