{% load humanize %}
  <table class="table table-striped">
    <tr>
      <th>
        <a href="/security/{{ item.security_code }}">{{ item.company.name }}</a><br />{{ item.year.year }}
      </th>
    </tr>

    <tr>
      <td class="right">{{ item.share_price_soles|intcomma }}</td>
    </tr>
    <tr>
      <td class="right">{{ item.pe_ratio|intcomma }}</td>
    </tr>
    <tr>
      <td class="right">{{ item.book_value_per_share|intcomma }}</td>
    </tr>
    <tr>
      <td class="right">{{ item.net_per_share_by_book_value|intcomma }}</td>
    </tr>
    <tr>
      <td class="right">{{ item.price_by_book_value|intcomma }}</td>
    </tr>
    <tr>
      <td class="right">{{ item.pe_times_price_by_book_value|intcomma }}</td>
    </tr>
    <tr>
      <td class="right">{{ item.net_working_capital|intcomma }}</td>
    </tr>
    <tr>
      <td class="right">{{ item.market_price|intcomma }}</td>
    </tr>
  </table>
