{% load humanize %}
<div class="col-md-5">
  <table class="table table-striped">
    <tr>
      <th colspan="2">
        {{ item }}
      </th>
    </tr>

    <tr>
      <td>Total assets:</td>
      <td class="right">{{ item.total_assets|intcomma }}</td>
    </tr>
    <tr>
      <td>Total current assets:</td>
      <td class="right">{{ item.total_current_assets|intcomma }}</td>
    </tr>
    <tr>
      <td>Total liabilities:</td>
      <td class="right">{{ item.total_liabilities|intcomma }}</td>
    </tr>
    <tr>
      <td>Total current liabilities:</td>
      <td class="right">{{ item.total_current_liabilities|intcomma }}</td>
    </tr>
    <tr>
      <td>Debt:</td>
      <td class="right">{{ item.debt|intcomma }}</td>
    </tr>
    <tr>
      <td>Net income:</td>
      <td class="right">{{ item.net_income|intcomma }}</td>
    </tr>

    <tr>
      <td colspan="2">---</td>
    </tr>
    <tr>
      <td>Share price soles:</td>
      <td class="right">{{ item.share_price_soles|intcomma }}</td>
    </tr>
    <tr>
      <td>Total shares:</td>
      <td class="right">{{ item.total_shares|intcomma }}</td>
    </tr>
    <tr>
      <td>Earnings per share:</td>
      <td class="right">{{ item.earnings_per_share|intcomma }}</td>
    </tr>
    <tr>
      <td>P/E ratio:</td>
      <td class="right">{{ item.pe_ratio|intcomma }}</td>
    </tr>
  </table>
</div><!-- col -->

<div class="col-md-5">
  <table class="table table-striped">
    <tr>
      <th colspan="2">
        {{ item }}
      </th>
    </tr>
    <tr>
      <td>Book value/share:</td>
      <td class="right">{{ item.book_value_per_share|intcomma }}</td>
    </tr>
    <tr>
      <td>Net per share/book value:</td>
      <td class="right">{{ item.net_per_share_by_book_value|intcomma }}</td>
    </tr>
    <tr>
      <td>Price/book value:</td>
      <td class="right">{{ item.price_by_book_value|intcomma }}</td>
    </tr>
    <tr>
      <td><b>Net working capital</b></td>
      <td class="right">{{ item.net_working_capital|intcomma }}</td>
    </tr>
    <tr>
      <td><b>Market price</b></td>
      <td class="right">{{ item.market_price|intcomma }}</td>
    </tr>
  </table>
</div><!-- col -->
